<!--The content below is only a placeholder and can be replaced.-->
<div >
    <nav class="navbar navbar-dark bg-primary">
        <img width="180"  src="https://ih0.redbubble.net/image.359748084.9651/flat,550x550,075,f.u3.jpg">
    <a class="navbar-brand" href="/" >
      Lista de Tareas
    </a>
     </nav>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</div>

<div class="container" >
    <div class="row" >
        <div class="col-md-25 mt-4">
          <ul class="list-group">
            <li class="list-group-item  list-group-item-action"
            *ngFor=" let tarea of tareaArray" (click)="openForEdit(tarea)" 
            [class.active]="tarea==selectedTarea">
             <span
             class="badge badge-primary "
             >
            {{tarea.id}}
            </span> {{tarea.tarea}} - {{tarea.materia}}
            </li>
          </ul>
          <div  class="card mt-4" >
            <div class="card-body" >
              <div class="card-title" >
                Nueva Tarea
              </div>
              <div >
                <input type="text"  [(ngModel)]="selectedTarea.tarea" placeholder="Tarea" class="form-control">
              </div>
              <div class= "form-group">
                  <input type="text"  [(ngModel)]="selectedTarea.materia" placeholder="Materia" class="form-control">
                </div>
                <button (click)="addOrEdit()" class="btn btn-primary"  >
                  Agregar a la lista
                </button>
                <button class="btn btn-danger" *ngIf="selectedTarea.id !== 0"
                (click)="delete()"
                >
                  Eliminar de la lista
                </button>
            </div>
          </div>
        </div>
    </div>
  </div>